/* buttons */

.button {
	text-decoration: none;
	background-color: #0e6fd7;
	color: white;
	font-family: "Montserrat", sans-serif;
	padding: 0.7rem 0.95rem;
	position: relative;
	min-width: 10rem;
	transition: all 0.2s ease-in-out;
	display: inline-block;
	text-align: center;
	border: 0;
}

	.button:hover {
		background-color: #1a73d2;
	}

.button--alt {
	background-color: white;
	border: 1px solid #0e6fd7;
	font-family: "Montserrat", sans-serif;
	color: #0e6fd7;
}

	.button--alt:hover {
		color: white;
	}

.button--narrow {
	width: auto;
	min-width: 0;
}

.button--block {
	width: 100%;
}

/* button group */

.button-group {
	display: block;
}

	.button-group .button {
		margin-right: 1rem;
		/* margin-bottom: 1rem; */
	}
