version: '3.4'

services:
  caddy:
    image: jodideloof/osoc-containers:caddy_image
    ports:
      - 80:80
      - 443:443
      - 8000:8000
    environment:
      - FRONTEND_URL=http://localhost:80
      - BACKEND_URL=http://localhost:8000

  ember:
    image: jodideloof/osoc-containers:frontend_image
    environment:
        - BACKEND_URL=http://localhost:8000

  identifier:
    image: semtech/mu-identifier:1.9.1
    links:
      - dispatcher:dispatcher

  dispatcher:
    image: jodideloof/osoc-containers:dispatcher_image
    links:
      - resources:resources

  db:
    image: jodideloof/osoc-containers:virtuoso_image
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    ports:
      - "8890:8890"

  resources:
    image: jodideloof/osoc-containers:resources_image
    links:
      - db:database

  migrations:
    image: jodideloof/osoc-containers:migrations_image
    links:
      - db:database
    environment:
      - BATCH_SIZE=750  # Otherwise virtuoso will create pretty long SQL queries and keep retrying with a smaller batch size until it succeeds

volumes:
    caddy_data:
    caddy_config:
    virtuoso_data:
