<div class='signs-list'>
  <div class='signs-list__filters'>
    <AuInput
      id='input-regular'
      @icon='search'
      {{on 'input' (route-action 'searchSignsByCode')}}
    />
  </div>
  <div class='signs-list__list'>
    {{#each this.selectedSigns as |sign|}}
      <div
        class='signs-list__list-item'
        {{on 'click' (fn this.selectItem sign)}}
      >
        <img src={{sign.image}} />
        <p>{{sign.roadSignConceptCode}}</p>
      </div>
    {{/each}}
  </div>
</div>