// import variables
@import 'variables.scss';
// import components
@import './components/filter.scss';
@import './components/details.scss';
@import './components/add-sign-container.scss';
@import './components/road-sign-list.scss';
@import './components/add-sign-one.scss';
@import './components/add-sign-two.scss';
@import './components/add-sign-three.scss';
@import './components/add-sign-five.scss';
@import './components/road-sign-list.scss';
// import appuniversum
@import 'appuniversum.scss';

$navBarHeight: 4.5vh;
$toolBarHeight: 5vh;
$paddingValue: 1vh;

.hidden {
  display: none;
}

.ember-application {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    min-height: $navBarHeight;
  }

  .content {
    flex: 1;
    position: relative;
    overflow: hidden;

    .toaster {
      background-color: $secondary-text;
      display: flex;
      justify-content: center;
      color: white;
      padding: 7px 0;
      position: absolute;
      top: 0;
      z-index: 2000;
      width: 100%;
    }
  }

  // PaddingValue is *2 because both Top & Bottom padding is used
  .leaflet-container {
    flex: 1;
  }

  .au-c-toolbar {
    padding: $paddingValue;
    min-height: $toolBarHeight;
  }

  .au-c-button {
    height: min-content;
  }

  h3 {
    padding: $paddingValue 0;
  }

  h4 {
    padding: $paddingValue 0;
  }

  button {
    display: block;
    margin: $paddingValue 0;

    // &:hover {
    //   cursor: pointer;
    // }
  }
}

// Override for taskbar
.au-c-toolbar__group {
  align-items: center;
}

.au-c-form > * + * {
  margin-top: 0;
}

.taskbar__actions {
  margin-left: auto;
  margin-right: 3rem;
}

.taskbar__actions .au-c-button {
  color: #000;
}

.taskbar__actions .button-active {
  color: $primary-blue;
}

//Override for PowerSelect Dropdown
#ember-basic-dropdown-wormhole {
  z-index: 2000;
}

.views {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 2000;
}

#map-cursor {
  cursor: move;
}

.roadsign-icon {
  background-color: black;
  width: 3rem;
  height: 1rem;
  position: relative;
}
.roadsign-icon::before {
  top: 0.1rem;
  border-radius: 100%;
  background-color: black;
  content: '';
  height: 1.5rem;
  position: absolute;
  width: 1.5rem;
  left: calc((100% - 1.5rem) / 2);
}
