.add-sign-container {
  width: 40%;
  max-width: 600px;
  min-width: 400px;
  height: 100vh;

  position: fixed;
  left: 100%;
  right: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border: 2px solid black;

  .add-sign-header {
    .add-sign-nav {
      display: flex;
      padding: 25px 0;

      &__item {
        flex: 1;
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-direction: column;

        * {
          margin: 0;
        }

        .nav-item__icon {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 2px solid black;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .nav-item__title {
          text-align: center;
          font-size: 13px;
          margin: 8px 0;
          color: $secondary-text;
        }
      }

      &__item--active {
        .nav-item__title {
          color: $primary-blue;
        }

        .au-c-badge {
          background-color: $primary-blue;
          color: white;
        }
      }
      &__item--completed {
        .au-c-badge {
          background-color: $primary-green;
          color: white;
        }
      }
    }
    .add-sign-nav::before {
      content: '';
      height: 2px;
      width: 100%;
      background-color: green;
    }
  }
  // .add-sign-header::before {
  // }

  .add-sign-content {
    flex: 1;
    height: 100%;
  }

  .add-sign-footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0;
  }
}

.is-showing {
  left: auto;
  right: 0;
}
