.step5__content {
  display: grid;
  grid-column-gap: 5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.step5__subtitle {
  align-self: flex-end;
  margin: 0;
  padding: 0;

  &--boards {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
}

.selected-signs {
  display: flex;
  flex-direction: column;
  grid-column: 2 / span 1;
  grid-row: 2 / span 10;

  &__sign {
    align-items: center;
    display: flex;
    margin: 2rem 1rem;

    &__img {
      margin-right: 3rem;
    }
  }
}
