.content {
  display: flex;
  flex-direction: column;
}

.slider {
  align-self: center;
  width: 60%;
}

.compass {
  align-self: center;
  border: 1px solid black;
  border-radius: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 30rem;
  padding: 1rem;
  width: 30rem;
}

.compass-value {
  align-self: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  grid-column: 1;
  grid-row: 1;
  height: 7rem;
  justify-self: center;
  text-align: center;
  z-index: 5;
  width: 7rem;
}

.compass-direction {
  grid-column: 1;
  grid-row: 1;

  &__nord {
    align-self: flex-start;
    justify-self: center;
  }

  &__east {
    align-self: center;
    justify-self: flex-end;
  }

  &__south {
    align-self: flex-end;
    justify-self: center;
  }

  &__west {
    align-self: center;
    justify-self: flex-start;
  }
}

.compass-arrow {
  align-self: center;
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  justify-self: center;

  .compass-arrow__top {
    background-color: black;
    display: block;
    height: 50%;
    width: 0.3rem;
  }
}
