.signs-list {
  border-radius: 10px;
  border: 3px solid black;
  height: 100%;
  //   max-height: 400px;
  overflow: hidden;
  flex: 1;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &-item {
      width: 25%;
      padding: 10px;
      margin: 10px;
      display: flex;
      justify-content: center;
    }
  }
}
