<section>
  <AuHeading @level='3' @skin='3'>
    Windrichting
  </AuHeading>
  <AuContent class="content">
    <p>Defineer de windrichting van de wegmarkering. Je kan de windrichting aanpassen met het kompas.</p>
      <input type="range" min="0" max="360" value="{{ this.direction }}" step="5" class="slider" id="myRange" {{on 'input' this.showDirectionValue}}>
    <div class="compass">
      <p class="compass-value">{{ this.direction }} °N</p>
      <span class="compass-direction compass-direction__nord">N °</span>
      <span class="compass-direction compass-direction__east">O °</span>
      <span class="compass-direction compass-direction__south">Z °</span>
      <span class="compass-direction compass-direction__west">W °</span>
      <span class="compass-arrow">
        <span class="compass-arrow__top"></span>
        <span class="compass-arrow__bottom"></span>
      </span>
    </div>
  </AuContent>
</section>
