name: RoadBase Docker Deploy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Docker build
        env:
            DOCKER_USER: ${{ secrets.DOCKER_USER }}
            DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          docker-compose -f "backend/docker-compose.yml" up -d --build
      - name: Docker tag
        run: |
          docker ps
          docker tag semtech/mu-identifier:1.9.1 jodideloof/osoc-containers:backend_identifier_1
          docker tag semtech/mu-dispatcher:2.0.0 jodideloof/osoc-containers:backend_dispatcher_1
          
      - name: Docker Push
        run: |
          docker ps
          docker push jodideloof/osoc-containers:backend_identifier_1
          docker push jodideloof/osoc-containers:backend_dispatcher_1
