name: RoadBase Docker Deploy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Docker build
        env:
            DOCKER_USER: ${{ secrets.DOCKER_USER }}
            DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          docker-compose -f "backend/docker-compose.yml" up -d --build
          docker tag semtech/mu-identifier:1.9.1 "$DOCKER_USER"/semtech/mu-identifier:1.9.1
          docker tag semtech/mu-dispatcher:2.0.0 "$DOCKER_USER"/semtech/mu-dispatcher:2.0.0
          docker tag tenforce/virtuoso:virtuoso7.2.5 "$DOCKER_USER"/tenforce/virtuoso:virtuoso7.2.5
          docker tag semtech/mu-cl-resources:1.20.0 "$DOCKER_USER"/semtech/mu-cl-resources:1.20.0
          docker tag semtech/mu-migrations-service:0.7.0 "$DOCKER_USER"/semtech/mu-migrations-service:0.7.0
      - name: Docker Push
        run: |
          docker push "$DOCKER_USER"/semtech/mu-identifier:1.9.1
          docker push "$DOCKER_USER"/semtech/mu-dispatcher:2.0.0
          docker push "$DOCKER_USER"/tenforce/virtuoso:virtuoso7.2.5
          docker push "$DOCKER_USER"/semtech/mu-cl-resources:1.20.0
          docker push "$DOCKER_USER"/semtech/mu-migrations-service:0.7.0
