name: RoadBase Docker Deploy

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Docker build
        env:
            DOCKER_USER: ${{ secrets.DOCKER_USER }}
            DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          docker build caddy/ -t jodideloof/osoc-containers:caddy_image
          docker build backend/dispatcher/ -t jodideloof/osoc-containers:dispatcher_image
          docker build backend/migrations/ -t jodideloof/osoc-containers:migrations_image
          docker build backend/resources/ -t jodideloof/osoc-containers:resources_image
          docker build backend/virtuoso/ -t jodideloof/osoc-containers:virtuoso_image
          docker build frontend/ -t jodideloof/osoc-containers:frontend_image
          docker build backend/rdfa/ -t jodideloof/osoc-containers:rdfa_image
      - name: Docker Push
        run: |
          docker ps -a
          docker push jodideloof/osoc-containers:caddy_image
          docker push jodideloof/osoc-containers:dispatcher_image
          docker push jodideloof/osoc-containers:migrations_image
          docker push jodideloof/osoc-containers:resources_image
          docker push jodideloof/osoc-containers:virtuoso_image
          docker push jodideloof/osoc-containers:frontend_image
          docker push jodideloof/osoc-containers:rdfa_image
